body.loading * {
    pointer-events: none;
    user-select: none;
}

body.loading #dialog-waiting-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-waiting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.dialog-waiting-spinner {
    border: 8px solid rgba(4, 6, 46, 0.5);
    border-left-color: #F28552;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.attachmentOverlayButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}

.dialog-confirm-container {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-confirm-header {
    margin-bottom: 24px;
}

#dialog-confirm-tips {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #585e6d;
}

.dialog-confirm-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    background-color: #fefefe;
    margin: 15% auto;
    padding: 42px 21px;
    max-width: 25%; /* Ensure it doesn't exceed the screen width */
    width: auto; /* Let the width adapt to the content */
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.dialog-confirm-close-button {
    color: #585e6d;
    float: right;
    font-size: 24px;
    font-weight: 400;
    width: 24px; /* 确保按钮的宽度与字体大小一致 */
    height: 24px; /* 确保按钮的高度与字体大小一致 */
    line-height: 16px; /* 确保内容垂直居中 */
    cursor: pointer;
    margin-left: 24px;
    position: absolute;
    top: 42px;
    right: 20px;
}

.dialog-confirm-close-button:hover,
.dialog-confirm-close-button:focus {
    color: #04062E;
}

#dialog-confirm-ok {
    background-color: #F28552;
    border: 2px solid #F28552;

}
#dialog-confirm-no {
    background-color: #ffffff;
    border: 2px solid rgba(88, 94, 109, 0.3);

}
#dialog-confirm-no:hover{
    background-color: #04062E;
    border: 2px solid #04062E;
}
#dialog-confirm-ok:hover{
    background-color: #04062E;
    border: 2px solid #04062E;
}
.dialog-confirm-content-btn {
    display: flex;
    justify-content: space-between; /* 保持按钮之间的间距 */
    gap: 10px; /* 可选：增加按钮之间的间距 */
}
.dialog-confirm-content-btn button{
    flex-grow: 1; /* 让按钮占据相同的宽度 */
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    width: 190px;
    cursor: pointer;
    margin: 0 6px;
    border-radius: 3px;
    white-space: nowrap; /* 确保文字不换行 */
}
.dialog-confirm-content-btn button:hover {
    color: #F28552;
}
