body.loading * {
    pointer-events: none;
    user-select: none;
}

body.loading #dialog-waiting-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-waiting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.dialog-waiting-spinner {
    border: 8px solid rgba(4, 6, 46, 0.5);
    border-left-color: #F28552;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.attachmentOverlayButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}

.dialog-confirm-container {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-confirm-header {
    margin-bottom: 24px;
}

#dialog-confirm-tips {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #585e6d;
}

.dialog-confirm-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    background-color: #fefefe;
    margin: 15% auto;
    padding: 32px;
    max-width: 25%; /* Ensure it doesn't exceed the screen width */
    width: auto; /* Let the width adapt to the content */
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.dialog-confirm-close-button {
    color: #585e6d;
    float: right;
    font-size: 24px;
    font-weight: 400;
    width: 24px; /* 确保按钮的宽度与字体大小一致 */
    height: 24px; /* 确保按钮的高度与字体大小一致 */
    line-height: 16px; /* 确保内容垂直居中 */
    cursor: pointer;
    margin-left: 24px;
    position: absolute;
    top: 32px;
    right: 32px;
}

.dialog-confirm-close-button:hover,
.dialog-confirm-close-button:focus {
    color: #04062E;
}

#dialog-confirm-ok {
    background-color: #F28552;
    border: 2px solid #F28552;
    color: white;

}
#dialog-confirm-no {
    background-color: #ffffff;
    border: 2px solid rgba(242, 133, 82, 0.4);
    color: #F28552;
}
#dialog-confirm-no:hover{
    background-color: #04062E;
    border: 2px solid #04062E;
}
#dialog-confirm-ok:hover{
    background-color: #04062E;
    border: 2px solid #04062E;
}
.dialog-confirm-content-btn {
    display: flex;
    justify-content: space-between; /* 保持按钮之间的间距 */
    gap: 10px; /* 可选：增加按钮之间的间距 */
    width: 100%;

}
.dialog-confirm-content-btn button{
    flex-grow: 1; /* 让按钮占据相同的宽度 */
    font-size: 16px;
    font-weight: 500;
    padding: 9px 24px;
    border: 4px;
    width: 100%;
    cursor: pointer;
    margin: 0 6px;
    border-radius: 3px;
    white-space: nowrap; /* 确保文字不换行 */
    background-color: #F28552;
    color: white;
}

.dialog-confirm-content-btn button:hover {
    background-color: #04062E;
    color: #F28552;
}
.dialog-confirm-content-btn .bmail-cancel-btn {
    color: #F28552;
    background-color: #e8eaea;

}

.bmail_dialog_container {
    position: relative;
    display: none;
}

.bmail_dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    z-index: 999; /* 确保在最前面 */
}

.bmail_dialog_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* 确保在 overlay 上面 */
}

.bmail_dialog_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bmail-dialog-message {
    font-size: 14px;
    color: rgba(4, 6, 46, 0.8);
}


.bmail_dialog_button {
    width: 50%;
    background-color: #F28552;
    color: #fff;
    border: none;
    padding: 14px 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 12px;
}

.bmail-crypto-btn-div img {
    width: 18px;
    height: auto;
}

.bmail-send-action {
    color: #F28552 !important;
    margin-left: 4px;
}

.bmail-crypto-action img {
    width: 18px;
    height: auto;
}

.bmail-crypto-btn {
    margin-left: 4px;
}

.bmail-decrypt-logo {
    width: 60%;
}

.bmail-decrypt-div {
    background-color: rgba(242, 133, 82, 0.2);
    border: 1px solid rgba(242, 133, 82, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bmail-menu-logo img {
    width: 18px;
    padding: 2px;
    height: auto;
}

.bmail-crypto-btn :hover {
    background-color: #2C2D47;
}

.bmail_dialog_button:hover {
    background-color: #04062E;
}

.bmail_receiver_is_fine {
    background-color: #f6e977;
}

.bmail_receiver_invalid {
    background-color: #f60000;
}
.outlokk-backimg {
    background-image: url("../file/logo_opacity.png");
    background-repeat: no-repeat; /* 禁止背景图重复 */
    background-position: center; /* 背景图片居中 */
    background-size: contain; /* 背景图片根据容器大小自适应 */
}