.attachmentDecryptGoogle {
    background-color: #55a491; /* 绿色背景色 */
    color: white; /* 白色文字 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 4px; /* 圆角 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    transition: background-color 0.3s ease; /* 背景色过渡效果 */
    border: 2px solid #f5d505;
    z-index: 100;
    margin: 10px auto;
}

.attachmentDecryptGoogle:hover {
    background-color: #45a049; /* 较深的绿色 */
}

.attachmentDecryptGoogle_tips {
    background-color: #4CAF50;
}