
.bmail_dialog_container {
    position: relative;
    display:none;
}

.bmail_dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    z-index: 999; /* 确保在最前面 */
}

.bmail_dialog_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* 确保在 overlay 上面 */
}

.bmail_dialog_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bmail-dialog-message {
    font-size: 14px;
    color: rgba(4, 6, 46, 0.8);
}


.bmail_dialog_button {
    width: 50%;
    background-color: #F28552;
    color: #fff;
    border: none;
    padding: 14px 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 12px;
}

.bmail-crypto-btn-div img{
    width: 18px;
    height: auto;
}

.bmail-send-action {
    color: #F28552 !important;
    margin-left: 4px;
}

.bmail-crypto-action img{
   width: 18px;
    height: auto;
}
.bmail-crypto-btn{
    margin-left: 4px;
}
.bmail-decrypt-logo{
    width: 60%;
}

.bmail-decrypt-div {
    background-color: rgba(242, 133, 82, 0.2);
    border: 1px solid rgba(242, 133, 82, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bmail_left_menu_btn_div-outlook {
    width: 188px;
    height: 36px;
    background-color: rgba(242, 133, 82, 0.2);
    padding: 0 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.bmail_left_menu_btn_div-outlook:hover {
    background-color: #04062E;
}
.bmail_left_menu_btn_div-outlook div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.bmail-btn_in_compose-div-outlook {
    cursor: pointer;
}
.bmail-decrypt-div-outlook {
    border: 2px solid rgba(242, 133, 82, 0.2);
    height: 28px;
    border-radius: 4px;
    padding: 0 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 8px;
}
.bmail-decrypt-div-outlook img{
    width: 20px;
}
.bmail-decrypt-div-outlook .bmail-decrypt-btn-outlook{
    font-size: 14px;
    font-weight: 600;
    color: #F28552;
    margin-left: 4px;
}
.bmail-decrypt-div-outlook:hover{
    background-color: rgba(4, 6, 46, 0.9);
}
.bmail-menu-logo img {
    width: 18px;
    padding: 2px;
    height: auto;
}
.bmail_left_menu_btn_div-outlook div span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 2px;
}
.bmail-crypto-btn-div-outlook {
    height: 32px;
    border-radius: 4px;
    background-color: #04062E;
    padding: 0 16px;
    margin-left: 12px;
}
.bmail-crypto-action-outlook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}
.bmail-crypto-action-outlook img{
    width: 20px;
    height: auto;
    margin-right: 4px;
    top: 4px;
}
.bmail-crypto-action-outlook span{
    color: #F28552;
    font-size: 14px;
    font-weight: bold;
}
.bmail-crypto-btn-div-outlook:hover{
    background-color: #2C2D47;
}
.bmail-crypto-btn :hover {
    background-color: #2C2D47;
}
.bmail_dialog_button:hover {
    background-color: #04062E;
}
.bmail_receiver_is_fine{
    background-color: #f6e977;
}
.bmail_receiver_invalid{
    background-color: #f60000;
}
