body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 360px; /* 宽度为 360px */
    height: 600px; /* 高度为 600px */
    overflow: hidden; /* 防止内容溢出 */
    display: flex;
    flex-direction: column;
}

.view-invalid-service-target {
    width: 80%;
    margin: 50% auto;
    text-align: center;
}

.view-invalid-service-target img {
    height: 30%;
    margin-bottom: 12px;
}

.login-error {
    color: #f50505;
}

h1, h2, p {
    margin: 0;
}

ul {
    padding: 0;
}

ul li {
    font-weight: 500;
    font-size: 16px;
}

p {
    font-weight: normal;
    font-size: 14px;
    color: #04062E;
}

button {
    width: 100%;
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 16px;
    background-color: #F28552;
    color: white;
}

button:hover {
    background-color: #04062E;
}

.view-main-login {
    text-align: center;
    padding: 62px 48px 48px;
}

.view-main-login h1 {
    margin-bottom: 6px;
}

.page_view {
    display: none;
}

.logo-container {
    width: 72px;
    height: 72px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px; /* Space between the two buttons */
    margin-top: 20px;
}

.newAccount,
.forget-help {
    margin: 0;
    color: #98989A;
    background-color: transparent;
    padding: 2px 0;
}

.newAccount {
    width: 50%;
    text-align: right;
}

.forget-help {
    text-align: left;
    white-space: nowrap;
}

.account-options .help-icon {
    font-size: 18px;
    cursor: pointer;
    color: #888;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.account-options .help-icon:hover {
    color: #F28552;
}

.help-icon svg {
    vertical-align: middle;
    height: 20px;
    margin: 0 4px 2px;
}

.account-options .newAccount:hover,
.account-options .forget-help:hover {
    color: #F28552;
    background-color: transparent;
}

.login-input input {
    width: calc(100% - 16px);
    padding: 14px 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background-color: #EEF0F1;
    border-radius: 5px;
    margin-top: 8px;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
}

.view-main-dashboard {
    padding: 0 12px;
    height: 100%;
    background-color: #ffffff;
    color: #04062E;
    position: relative;
}

.bmail-account-header {
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supported-emails {
    width: calc(100% - 24px);
    border: 2px solid #EEEFF0;
    padding-top: 24px;
    position: relative;
    margin: auto;

}

.supported-emails p {
    color: #98989A;
    background-color: white;
    padding: 0 16px;
    position: absolute;
    top: -10px;
    left: calc(50% - 109px);
}

.supported-emails-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 创建三个等宽的列 */
    gap: 2px; /* 图片之间的间距 */
    justify-items: center; /* 图片水平居中 */
    align-items: center; /* 图片垂直居中 */
}

.supported-emails-grid img {
    max-width: 78%; /* 限制图片的最大宽度 */
    height: auto; /* 保持图片的原始比例 */
}

.bmail-active-account {
    color: #F28552;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    margin: 0;
}

.bmail-active-account:hover {
    background-color: #f6f8f9;
}

.bmail-address-query-btn,
.bmail-system-setting-btn {
    padding: 4px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.bmail-wallet-exit-btn img,
.bmail-address-query-btn img {
    width: 22px;
    height: 22px;
}

.bmail-address-query-btn:hover,
.bmail-system-setting-btn:hover {
    background-color: #F28552;
    color: white;
}

.dialog-tips-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-tips-content {
    width: 82%;
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}

.dialog-tips-content p {
    padding: 12px;
    background-color: #F3F6F7;
    border: 2px solid #EEEFF0;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    word-wrap: break-word; /* 允许在单词中间换行 */
    overflow-wrap: break-word; /* 现代浏览器中的同样功能 */
    white-space: normal; /* 正常的换行行为 */
    margin-top: 12px;
}

.dialog-tips-content button {
    width: calc(50% - 16px);
}

.dialog-tips-close-button {
    color: #F28552;
    background-color: #F6F8F9;
}

.dialog-tips-close-button:hover {
    color: #fff;
    background-color: #F28552;
}

.supported-emails-dialog {
    overflow-y: auto; /* Adds a scrollbar if content exceeds the max height */
}

.supported-emails-dialog h2 {
    text-align: center;
    margin-top: 12px;
}

.supported-emails-contain {
    margin: 32px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
}

.supported-emails-contain p {
    background-color: transparent;
    border: none;
    margin: 24px 0 8px;
}

.supported-emails-contain img {
    width: 100%;
    height: auto;
}

.supported-emails-contain strong {
    color: #F28552;
    margin-right: 2px;
}

.bmail-address-area {
    width: calc(100% - 24px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #04062E;
    border-radius: 5px;
    color: white;
    margin-bottom: 24px;
}

.bmail-address-lbl {
    font-size: 18px;
    font-weight: 600;
}

.tooltip p {
    font-size: 12px;
    word-wrap: break-word; /* 允许在单词中间换行 */
    overflow-wrap: break-word; /* 现代浏览器中的同样功能 */
    white-space: normal; /* 正常的换行行为 */
    margin-top: 8px;
    background-color: #2C2D47;
    padding: 6px;
    color: rgba(255, 255, 255, 0.64);
    cursor: pointer;
}

.tooltip p:hover {
    color: #F28552;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    height: 18px;
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 12px;
    position: absolute;
    top: -32px;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Adjust as needed */
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bmail-account-license-card {
    border-top: 1px solid #2C2D47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-top: 12px;
}

.bmail-account-license-lbl {
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.64);
}

.bmail-account-license-val {
    color: #F28552;
    font-size: 16px;
    font-weight: 600;
}

.binding-email-address-area {
    width: 100%;
}

.binding-email-address-list {
    margin-top: 0;
}

.binding-email-address-item {
    padding: 16px 12px;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid #F3F6F7;
}

.binding-email-address-area span {
    font-size: 14px;
    font-weight: 600;
}

.binding-email-address-item-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.binding-email-unbind-btn {
    padding: 0;
    margin: 0;
    color: #A3A3A4;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
}

.binding-email-unbind-btn:hover {
    background-color: transparent;
    color: #F28552;
}

.main-body-part {
    padding: 12px;
    border: 2px solid #F3F6F7;
    text-align: center;
    border-radius: 5px;
}

.main-body-part span {
    color: #2C2D47;
}

.main-body-part p {
    color: #04062E;
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.secondary-button:hover {
    background-color: #F28552;
    color: white;
}

.toast-tip-dialog {
    background-color: #F28552;
    position: absolute;
    padding: 12px 16px;
    border-radius: 5px;
    bottom: 32px;
    left: calc(50% - 58px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.toast-tip-dialog p {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.bmail-setting-list {
    display: none; /* 初始状态下隐藏菜单 */
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 42px;
    right: 12px;
    border-radius: 4px;
}

.bmail-setting-list a {
    color: #04062E;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.bmail-setting-list a:hover {
    background-color: #eff0f1;
    color: #04062E;
    border-radius: 4px;
}
.bmail-setting-list a img {
    width: 22px;
    height: auto;
    margin-right: 4px;
}
.custom-dropdown {
    display: inline-block;
    width: 100%;
}

.dropdown-toggle {
    padding: 2px;
    cursor: pointer;
    margin-top: 0;
    background-color: transparent;
    margin-left: 4px;
    border-radius: 999px;

}
.dropdown-toggle img{
    width: 12px;
    height: 12px;
}
.dropdown-toggle:hover{
    background-color: rgba(4, 6, 46, 0.1);
}
.system-back ,
.dropdown-toggle{
    background-color: transparent;
    padding: 4px;
    margin-top: 0;
    border-radius: 99px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.system-back img{
    width: 14px;
    height: 14px;
}
.system-back:hover {
    background-color: #eff0f1;
    padding: 4px;
}

.setting-account{
    margin-bottom: 12px;
    border-bottom: 2px solid #F3F6F7;
    position: relative;
}

.setting-account-drop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F3F6F7;
    border-radius: 999px;
    padding: 6px 12px;
}
.setting-account-drop span{
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}
.dropdown-menu {
    position: absolute;
    top: 32px;
    right: 0;
    width: calc(100% - 32px);;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 16px;
}

.contact-server-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F6F7;
    padding: 12px 0;
    cursor: pointer;
}
.contact-server-item img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.contact-server-item span {
    font-size: 14px;
}
.contact-server-item.selected {
    font-weight: 500;
}

input#contact-server-val {
    width: calc(100% - 20px);
    font-size: 14px;
    padding: 12px 8px;
    background-color: #F6F8F9;
    border: 2px solid #EEEFF0;
    border-radius: 5px;
    outline: none;
}

input#contact-server-val:focus {
    border: 2px solid rgba(242, 133, 82, 0.5); /* 聚焦时的边框颜色 */
}

.view-network-setting {
    padding: 16px;
    height: 100%;
    background-color: #ffffff;
    color: #04062E;
    position: relative;
}

.contact-server-item-del-btn {
    position: relative;
    width: 18px; /* 图标大小 */
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    padding: 4px;
    margin: 0!important;
}

.contact-server-item-del-btn::before,
.contact-server-item-del-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px; /* 线条长度 */
    height: 2px; /* 线条粗细 */
    background-color: #98989A; /* 删除按钮颜色 */
    transform-origin: center;
}

/* 旋转两条线以形成“X” */
.contact-server-item-del-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.contact-server-item-del-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.contact-server-item-del-btn:hover{
    background-color: rgba(4, 6, 46, 0.1);
    border-radius: 999px;
}
