.bmail_left_menu_btn_div_qq:hover {
    background-color: #04062E;
}

.bmail_left_menu_btn_div_qq {
    background-color: rgba(242, 133, 82, 0.2);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 6px;
    height: 32px;
}

.bmail_left_menu_btn_div_qq {
    padding: 0 2px 0 12px;
    margin-left: 2px;
}

.bmail_left_menu_btn_div_qq span {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 12px;
}

.bmail_left_menu_btn_div_qq img {
    width: 16px;
    height: auto;
    margin: 2px;
}

.bmail-crypto-btn-div-qq {
    background-color: #04062E;
    border-radius: 4px;
    margin-left: 16px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    outline: none;
    padding: 0;
    text-align: center;
    user-select: none;
    color: #F28552;
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmail-crypto-btn-div-qq :hover {
    background-color: #2C2D47;
}

.bmail-crypto-btn-div-qq img {
    width: 18px;
    height: auto;
}

.bmail-btn_in_compose-div-qq {
    background-color: rgba(242, 133, 82, 0.2);
    border: 2px solid rgba(242, 133, 82, 0.5);
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    padding: 4px 0;
    text-align: center;
    user-select: none;
    color: #F28552;
    width: 98px;
}

.bmail-btn_in_compose-div-qq:hover {
    background-color: rgba(242, 133, 82, 0.4);
}

.bmail-decrypt-div-qq {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.bmail-btn_in_compose-div-qq img {
    width: 32px;
    height: auto;
}

.attachmentOverlayButtonForQQOldVersion {
    position: absolute;
    z-index: 9999; /* 提高 z-index，确保覆盖其他元素 */
    top: 0; /* 根据需要调整位置 */
    left: 0; /* 确保它覆盖整个父元素 */
    width: 100%; /* 根据需要调整覆盖范围 */
    height: 100%; /* 根据需要调整覆盖范围 */
    pointer-events: none; /* 确保不影响用户操作底层元素 */
    margin: 0 12px;
    padding: 4px 12px;
}

.attachmentOverlayBtnQQ {
    top: 0;
    left: 0;
    cursor: pointer;
    color: #F28552;
    padding: 8px 12px 8px 32px; /* 增加右侧内边距以容纳背景图片 */
    font-size: 14px;
    font-weight: 500;
    background-image: url("../file/logo_file.png");
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px 16px;
    border-radius: 6px;
    margin: 4px 0;
    border: none;
    background-color: rgba(242, 133, 82, 0.1);
}
.attachmentOverlayBtnQQ:hover{
    background-color: rgba(242, 133, 82, 0.3);
}